nav ul li a{
  height: 38px;
}
#vueltainicio{
  height: 55.5px;
}
.container{
  background-color: #f2f2f2;
}
/*Div titulo*/
.titulo {
  font-size: 80%;
  border-top: 25px solid #f2f2f2;
  display: flex;
  background-color: #c41d5d;
  margin: 0px;
  justify-content: center;
  margin-bottom: 0px;
}

/*Fin div titulo*/
/*Div contenido*/
.contenido {
  display: flex;
  margin: 0px;
  margin-top: 0px;
  justify-content: center;
  flex-flow: row wrap;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 5.5%;
  font-family: 'Roboto Condensed', sans-serif;
}
video{
  width: 50%;
    box-shadow: 0 0 40px -10px #c41d5d;
    margin-bottom: 25px;
    margin-top: 25px;
}

/*Fin div contenido*/
/*Lista*/
.contenido ul li {
  line-height: 40px;
}
@media (max-width: 415px){
  .contenido {
    font-size: 20px;
  }
  .titulo h1 {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.2;
    margin-top: 50px;
    font-size: 27px;
    text-align: center;
  }
}
@media (max-width: 769px){
  video{
    width: 100%;
  }
}
